*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea
Guardfile
atlassian-ide-plugin.xml
.rspec
spec/database.yml
.ruby-gemset
.ruby-version
